/* Icon styles */

.icon-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: all 200ms;
}

.icon-container:hover {
    cursor: pointer;
}

.icon-container:hover i.icon {
    transform: scale(1.1);
}

i.icon {
    width: 1.5em;
}

i.note {
    color: rgb(230, 222, 10);
}
