<footer class="footer bg-dark">
    <div class="flex f-row f-spaced py-3">
        <span class="footer-text">Visits: <%= visits %></span>
        <span class="footer-text">2021 © Kevin Muñoz Poo</span> 
    </div>
</footer>