<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand flex f-row f-center" href="/">
            <img src="/img/logo.png" alt="Logo" height="60" class="d-inline-block">
            <img src="/img/CRUD.png" alt="Logo" height="40" class="d-inline-block mx-3">
        </a>
    </div>
</nav>